#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 120px;
	padding: 24px;
	will-change: filter;
	transition: filter 300ms;
	border-radius: 50px;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #40d0b9);
}

.clear-button:hover {
	filter: drop-shadow(0 0 1em #40d0b9);
}

.calculate-button:hover {
	filter: drop-shadow(0 0 1em #40d0b9);
}

.heading {
	font-size: large;
	padding-bottom: 24px;
}

.calculator-card {
	padding: 14px;
	border-radius: 10px;
	background-color: #888;
	box-shadow: 5px 5px #303030;
}

.input-heading {
	padding-top: 3px;
}

.new-input-section {
	padding-top: 15px;
}

.calculate-button {
	margin: 6px;
	margin-top: 25px;
	background-color: black;
	color: white;
}

.clear-button {
	margin: 6px;
	margin-top: 25px;
	background-color: #444444;
	color: white;
}

.results-table table {
	width: 100%;
	border-collapse: collapse;
}

.card {
	padding: 2em;
}

.error-message {
	color: rgb(164, 31, 31);
	font-size: 0.9em;
	margin-top: 4px;
}
